@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono';
}

body {
    background-color: #323437 !important;
}

header {
    top: 0;
    padding: 2% 15% 0 15%;
    height: 15vh;
    width: 100%;
    position: sticky;
    background-color: #323437;
}

.header-content {
    color: #D9D9D9 !important;
    justify-content: space-between;
    position: sticky;
    background-color: #323437;
}

.logo-content {
    color: #D9D9D9 !important;
    font-size: 2rem;
    height: 100%;
}

.logo-content>p {
    margin-top: 1vh;
}

.HasTerms-img-logo {
    margin-right: 10px;
    width: 64.48px;
    height: 61.39px;
}

.game {
    text-decoration: none;
}

.index-img {
    margin-left: 30px;
}

@media only screen and (max-width: 975px) {
        header {
        height: 10vh;
    }
}

@media only screen and (max-width: 850px) {


    .logo-content>p {
        display: none;
    }

    .game>img,
    .index-img>img {
        max-width: 80%;
    }
}

@media only screen and (max-width: 270px) {

    .game>img,
    .index-img>img {
        min-width: 10vw !important;
    }
}