@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background-color: #323437; 
    font-family: 'JetBrains Mono';
    color: #646669;
    height: 100vh;
}

#ResultTitle,
#ResultSubtitle,
#Advice,
#AcertosTitle,
#ErrosTitle,
#AcertosList,
#ErrosList,
#Words {
    color: #646669;
    text-align: center;
    margin: 0 auto;
}

#ResultTitle {
    font-size: 80px;
}

#ResultSubtitle {
    font-size: 40px;
}

#Advice {
    font-size: 40px;
}

#AcertosTitle,
#ErrosTitle {
    font-size: 30px;
    margin-top: 20px;
}

#AcertosList,
#ErrosList {
    font-size: 20px;
}

#Words {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}

#Acertos,
#Erros {
    width: 40%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
}

p {
    margin: 5px 0;
}

@media (min-width: 1400px) {  
    #ResultTitle {
        font-size: 30px;
    }

    #ResultSubtitle {
        font-size: 18px;
    }

    #Advice {
        font-size: 18px;
    }

    #AcertosTitle,
    #ErrosTitle {
        font-size: 14px;
    }

    #AcertosList,
    #ErrosList {
        font-size: 10px;
    }
}

@media (min-width: 1200px) {  
    #ResultTitle {
        font-size: 40px;
    }

    #ResultSubtitle {
        font-size: 20px;
    }

    #Advice {
        font-size: 20px;
    }

    #AcertosTitle,
    #ErrosTitle {
        font-size: 16px;
    }

    #AcertosList,
    #ErrosList {
        font-size: 12px;
    }
}

@media (min-width: 992px) {  
    #ResultTitle {
        font-size: 50px;
    }

    #ResultSubtitle {
        font-size: 25px;
    }

    #Advice {
        font-size: 25px;
    }

    #AcertosTitle,
    #ErrosTitle {
        font-size: 18px;
    }

    #AcertosList,
    #ErrosList {
        font-size: 14px;
    }
}

@media (min-width: 768px) {  
    #ResultTitle {
        font-size: 60px;
    }

    #ResultSubtitle {
        font-size: 30px;
    }

    #Advice {
        font-size: 30px;
    }

    #AcertosTitle,
    #ErrosTitle {
        font-size: 20px;
    }

    #AcertosList,
    #ErrosList {
        font-size: 16px;
    }
}

@media (min-width: 576px) {  
    #ResultTitle {
        font-size: 70px;
    }

    #ResultSubtitle {
        font-size: 35px;
    }

    #Advice {
        font-size: 35px;
    }

    #AcertosTitle,
    #ErrosTitle {
        font-size: 25px;
    }

    #AcertosList,
    #ErrosList {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    #Words {
        flex-direction: column;
        align-items: center;
    }

    #Acertos,
    #Erros {
        width: 100%;
    }

    #ResultTitle,
    #ResultSubtitle,
    #Advice {
        font-size: 20px;
    }

    #AcertosTitle,
    #ErrosTitle {
        font-size: 18px;
    }

    #AcertosList,
    #ErrosList {
        font-size: 14px;
    }
}
